<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121844620-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121844620-1');
    </script>

    <title> {{ page.title }} :: GD</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1> {{ site.name }} </h1>
        <h2>Talk is cheap. Show me the code.</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

          {{ content }}

        </section>

        <aside id="sidebar">
            <p class="repo-owner"><a href="https://jaepils.github.io">blog</a> is maintained by jaepil.jung@gmail.com</p>

            {% for category in site.categories %}
              <div class="archive-group">
                {% capture category_name %}{{ category | first }}{% endcapture %}
                <div id="#{{ category_name | slugize }}"></div>
                <p></p>

                <h3 class="category-head">{{ category_name }}</h3>
                <a name="{{ category_name | slugize }}"></a>
                {% for post in site.categories[category_name] %}
                <article class="archive-item">
                  <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                </article>
                {% endfor %}
              </div>
            {% endfor %}
        </aside>
      </div>
    </div>

  </body>
</html>
